<!-- index.html -->
{% extends 'cron_manager/base.html' %}
{% load static %}


{% block title %}Cron-Manager - Cronjobs{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/cron_manager/fetched_cron_jobs.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="form-title">Fetched Cron Jobs</h1>

    <!-- Display Django messages -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <div class="cron-job-list">
        {% if formatted_jobs %}
            {% for job in formatted_jobs %}
                <div class="cron-job">
                    <div class="cron-job-description">
                        <!-- Display the human-readable description -->
                        {{ job.description }}
                    </div>
                    <div class="cron-job-command">
                        <!-- Display the cron job command -->
                        {{ job.command }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No cron jobs found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}