<!-- cron_manager_home.html -->
{% extends 'cron_manager/base.html' %}
{% load static %}

{% block title %}Cron-Manager - Home{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/cron_manager/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Server Credentials</h2>
        {% if server_credentials %}
            <ul class="list-group mb-4">
                {% for credential in server_credentials %}
                    <li class="list-group-item">
                        <strong>Hostname:</strong> {{ credential.hostname }} <br>
                        <strong>Username:</strong> {{ credential.username }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No servers added yet.</p>
        {% endif %}
    </div>
{% endblock %}
